<h1>Ingredients </h1>

<a> <%= link_to "Create Recipe", new_recipe_path%></a>
<ul>
    <%= @recipes.each do |recipe| %>

    <li> 
        <%= link_to recipe.name, recipe %>
        </li>
    <% end %>
 </ul>